{% extends "html/basic_page.html" %}

{% load staticfiles %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-2 hidden-md-down"></div>
    <div class="col-lg-8">
      <form>
        <table class="table">
          <tr>
            <td id="td-basic-info">
              <h3 id="h-basic-info">Basic Information of {% block group_title %}{% endblock %}</h3>
              <br>
              <div>
                <div id="div-form-group-name" class="form-group row">
                  <label class="col-sm-2 form-control-label" for="input-group-name">Name</label>
                  <div class="col-sm-10">
                    <input type="text" maxlength="32" class="form-control" id="input-group-name" placeholder="Name of the Group" value="{% block group_name %}{% endblock %}" {% block name_disabled %}{% endblock %}>
                  </div>
                </div>

                <div id="div-form-group-caption" class="form-group row">
                  <label class="col-sm-2 form-control-label" for="input-group-caption">Caption</label>
                  <div class="col-sm-10">
                    <input type="text" maxlength="64" class="form-control" id="input-group-caption" placeholder="Caption of the Group" value="{% block group_caption %}{% endblock %}">
                  </div>
                </div>

                <div id="div-form-group-public" class="form-group row">
                  <label class="col-sm-2" for="div-public">Public</label>
                  <div id="div-public" class="col-sm-10">
                    <div>
                      <label class="radio-inline">
                        <input id="input-public" type="radio" name="radio-group-public" value="true" {% block group_public_true %}{% endblock %}>Public
                      </label>
                      <label class="radio-inline">
                        <input id="input-private" type="radio" name="radio-group-public" value="false" {% block group_public_false %}{% endblock %}>Private
                      </label>
                    </div>
                  </div>
                </div>

                <div id="div-form-group-introduction" class="form-group row">
                  <label class="col-sm-2 form-control-label" for="input-group-introduction">Introduction</label>
                  <div class="col-sm-10">
                    <textarea id="input-group-introduction" class="form-control" maxlength="1000">{% block group_introduction %}{% endblock %}</textarea>
                  </div>
                </div>
              </div>
            </td>
          </tr>

          {% block other_items %}{% endblock %}

          {% block save_all %}
          {% endblock %}

        </table>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}