{% extends "html/basic_page.html" %}

{% load staticfiles %}

{% block title %}404 - SDUST ACMer{% endblock %}

{% block css %}<link rel="stylesheet" href='{% static "css/page/404.css" %}'>{% endblock %}

{% block body %}
    <div class="container">
      <h1>Not found <span>:(</span></h1>
      <p>Sorry, but the page you were trying to view does not exist.</p>
      <p>It looks like this was the result of either:</p>
      <ul>
        <li>a mistyped address</li>
        <li>an out-of-date link</li>
      </ul>
    </div>
{% endblock %}
