<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="KWY-Q">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/cikonss.css" %}'>
    {% block css %}{% endblock %}
    <script src='{% static "js/jquery-2.2.0.min.js" %}'></script>
  </head>

  <body>
    {% block basic_body %}{% endblock %}

    <!-- jQuery first, then Bootstrap JS. -->
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <script>
      $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
      });
    </script>
    {% block basic_script %}{% endblock %}
  </body>
</html>
