{% extends "html/basic_page.html" %}

{% load staticfiles %}

{% block title %}Following & Followers - SDUST ACMer{% endblock %}

{% block css %}
<link rel="stylesheet" href='{% static "css/metroStyle/metroStyle.css" %}'>
{% endblock %}

{% block body %}
    <div class="container">
      <p id="target-user" hidden>{{ user_info.username }}</p>
      <p id="self-user" hidden>{{ user_status.username }}</p>
      <div class="container">
        <br>
        <div class="row" style="word-wrap: break-word;word-break:break-all;">
          <div class="col-lg-2"></div>
          <div class="col-lg-4 col-sm-6 container">
            <h1 class="display-1 hidden-md-down">{{ following_number }}</h1>
            <p><span class="hidden-lg-up display-1">{{ following_number }}  </span><big>Following</big></p>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-4 col-sm-6 container">
            <h1 class="display-1 hidden-md-down">{{ followers_number }}</h1>
            <p><span class="hidden-lg-up display-1">{{ followers_number }}  </span><big>Followers</big></p>
          </div>
        </div>

        <table class="table col-xs-12">
          <tr>
            <td></td>
          </tr>
        </table>

        <div class="col-xs-12">
          <nav class="navbar navbar-dark bg-inverse">
            <ul class="nav navbar-nav">
              <li id="li-show-following" class="nav-item active">
                <a id="btn-show-following" class="nav-link" href="javascript:void(0)">Following</a>
              </li>
              <li id="li-show-followers" class="nav-item">
                <a id="btn-show-followers" class="nav-link" href="javascript:void(0)">Followers</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <br>
      <br>

      <div class="container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nickname</th>
              <th>Username</th>
              <th>Sex</th>
              <th>School</th>
              <th>Solved</th>
              <th>Tried</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="tbody-following">
          {% for i in following.slice %}
            <tr>
              <td><big><b>{{ i.nickname }}</b></big></td>
              <td>{{ i.username }}</td>
              <td>{{ i.sex }}</td>
              <td>{{ i.school }}</td>
              <td>{{ i.problem_solved_number }}</td>
              <td>{{ i.problem_tried_number }}</td>
              <td>
                <a class="btn btn-primary" href="/user/info/{{i.username}}/">See</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>

          <tbody id="tbody-followers" hidden>
          {% for i in followers.slice %}
            <tr>
              <td><big><b>{{ i.nickname }}</b></big></td>
              <td>{{ i.username }}</td>
              <td>{{ i.sex }}</td>
              <td>{{ i.school }}</td>
              <td>{{ i.problem_solved_number }}</td>
              <td>{{ i.problem_tried_number }}</td>
              <td>
                <a class="btn btn-primary" href="/user/info/{{i.username}}/">See</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}

{% block script %}
<script src='{% static "js/page/following_followers.js" %}'></script>
{% endblock %}