{% extends "html/base.html" %}

{% load staticfiles %}

{% block title %}Join SDUST ACMer - SDUST ACMer{% endblock %}

{% block basic_body %}
<div class="container">
  <center>
    <a href="/home/">
      <img src='{% static "img/School.png" %}' alt="SDUST" width="64" height="64" style="margin: 25px;">
    </a>
    <h3 class="text-muted" style="margin-bottom: 20px;">Join SDUST ACMer</h3>

    <div class="row">
      <div class="col-lg-3 col-md-2 col-xs-1"></div>
      <div class="jumbotron col-lg-6 col-md-8 col-xs-10 bg-faded">
        <p id="p-error-info" class="text-danger" hidden="hidden"></p>
        <form>
          <div id="div-form-group-username" class="form-group row">
            <label class="col-sm-3 form-control-label" for="input-username">Username</label>
            <div class="col-sm-9">
              <input type="text" maxlength="30" class="form-control" id="input-username" placeholder="Username" onkeydown="if(event.keyCode==13){document.getElementById('btn-sign-in').click();return false;}">
            </div>
          </div>
          <div id="div-form-group-password" class="form-group row">
            <label class="col-sm-3 form-control-label" for="input-password">Password</label>
            <div class="col-sm-9  ">
              <input type="password" maxlength="32" class="form-control" id="input-password" placeholder="Password" onkeydown="if(event.keyCode==13){document.getElementById('btn-sign-in').click();return false;}">
            </div>
          </div>
          <div id="div-form-group-confirm" class="form-group row" style="margin-bottom: 40px;">
            <label class="col-sm-3 form-control-label" for="input-confirm">Confirm</label>
            <div class="col-sm-9  ">
              <input type="password" maxlength="32" class="form-control" id="input-confirm" placeholder="Confirm your password" onkeydown="if(event.keyCode==13){document.getElementById('btn-sign-in').click();return false;}">
            </div>
          </div>
          <span class="input-group-btn">
            <button id="btn-sign-in" class="btn btn-success col-xs-12" type="button">Sign up for SDUST ACMer</button>
          </span>
        </form>
      </div>
      <div class="col-lg-3 col-md-2"></div>
    </div>
  </center>
</div>
{% endblock %}

{% block basic_script %}
<script src='{% static "js/page/sign_up.js" %}'></script>
{% endblock %}